@charset "UTF8";
@font-face {
      font-family: 'android';
      src: url(fontes/idroid.otf) format('opentype');
      font-weight: normal;
      font-style: normal;
}

body {
      background-color: #a9e4b1;
}

main {
      background-color: white;
      font-family: 'Times New Roman', Times, serif;   
      text-align: justify;
      width: 850px;
      padding: 10px;
      margin: auto;
      box-shadow: 2px 5px 3px 5px rgba(0, 0.1, 0.1, 0.1);
}      

header {
      background-image: linear-gradient(to bottom, #5cf170, #265f2c);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: white;
}

header > h1 {
      text-align: center;
}

header > p {
      font-size: 18px;
      text-align: center;
}

nav > a {
      font-size: 16px;
      font-weight: bold;
      text-align: left;
      text-decoration: none;
      color: white;
      margin: 5px;
}

.titulo-p {
     font-family: 'android';
     color: #265f2c;
}

.titulos-sec {
      font-family: 'android';
      color: #265f2c;
      background-image: linear-gradient(to right, #c3ecc8, white); 
}