@charset "UTF-8";

body {
   background-color: aquamarine;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14;
}

h1 {
   color: darkred;
}

h2 {
   color:darkblue
}

p { 
   text-align: justify;
}
